<script>
  $('document').ready(function(){
    $('#submit').click(function(evt){
      evt.preventDefault();

      var txt = $('[name=txt]').val();

      app.ajax('/api/form-submit/', {'txt': txt}, 'json', queryCallback, queryErrorCallback);
    });
  });

  function queryCallback(json){
    $('#result').html( JSON.stringify(json, null, 2) );
  }

  function queryErrorCallback(json){
    $('#result').html( "Error submitting form data.\n\n" + JSON.stringify(json, null, 2) );
  }
</script>


<h1>Basic Website Form</h1>

<p>Send some text to the web server.</p>

<form>
  <label for="txt">Write something or not:</label>
  <input type="text" id="txt" name="txt"/>

  <button type="submit" id="submit" type="submit">Submit</button>
<form>

<pre id="result"></pre>